{% extends "index.html" %}

{% load static from staticfiles %}

{% block link %}{% endblock %}

{% block contect %}
    <hr>
    <h1>Formulario de Especie
    </h1>
     <div class="col-md-12">
          <form method="POST">
          {% csrf_token %}
          <div>
              <div class="panel-body">
                  <div class="form-group">
                  <label class="col control-label">Nombre Comun<span class="asterisk">*</span></label>
                  <div class="col">
                    {{ form.especieNOMBRECOMUN }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Nombre Cientifico<span class="asterisk">*</span></label>
                  <div class="col">
                    {{ form.especieNOMBRECIENTIFICO }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col control-label">Familia <span class="asterisk">*</span></label>
                  <div class="col">
                    {{ form.especieFamiliaID }}
                  </div>
                </div>
              </div><!-- panel-body -->
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-sm-offset-3">
                    <button class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Guardar</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                  </div>
                </div>
              </div><!-- panel -->
          </form>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  menuActive('especies');
</script>
{% endblock %}